@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Sen", sans-serif;
}

body {
	background-color: #fff;
	font-family: "Sen", sans-serif;
	overflow-x: hidden;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Rubik", sans-serif;
}

.hero-container {
	background: #f6efe3;
	height: 80vh;
	display: flex;
	position: relative;
	padding: 5rem;
}

.hero__heading {
	width: 800px;
	height: 200px;
	font-size: 6rem;
	font-weight: 900;
	margin-top: 4rem;
	background-image: url("/img/stroke.svg");
	background-repeat: no-repeat;
	background-position: 95% 80%;
	position: relative;
	z-index: 3;
}

.hero-stroke {
	position: absolute;
	width: 80px;
	z-index: -1;
	right: 20%;
	top: 20%;
}

.hero__img {
	width: 400px;
	height: 200px;
	position: absolute;
	left: 0;
	bottom: -15%;
}

.hero__position-img {
	width: 200px;
	height: 150px;
	position: absolute;
	right: 0;
	bottom: 25%;
}

.portfolio__container {
	background: linear-gradient(
		180deg,
		rgba(218, 255, 233, 0.44) 0%,
		rgba(218, 255, 233, 0) 100%
	);
	padding: 10rem 5rem 5rem;
}

.portfolio__heading-text {
	text-align: center;
	font-size: 4rem;
	font-weight: 600;
}

.portfolio__span {
	color: #203ee8;
}

.grid__portfolio {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 6rem 3rem;
	max-width: 1000px;
	width: 100%;
	margin: 6rem auto 0;
}

.portfolio h5 {
	margin: 1rem 0 0.5rem;
	font-size: 1.5rem;
}

.portfolio__type {
	color: rgba(0, 0, 0, 0.14);
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 2.04px;
	margin-bottom: 1rem;
}

.portfolio__content {
	width: 250px;
	font-size: 1.8rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
	line-height: 1.5;
}

.portfolio__logo {
	width: 180px;
	height: 100px;
}

.portfolio a {
	font-size: 1.5rem;
}

.portfolio__logo img.xwork,
.portfolio__logo img.shopay,
.portfolio__logo img.resela,
.portfolio__logo img.codar {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 576px) {
	.hero-container {
		height: 60vh;
		padding: 3rem 2rem;
	}

	.hero__heading {
		max-width: 400px;
		width: 100%;
		height: fit-content;
		font-size: 3.5rem;
		margin-top: 6rem;
		background-image: none;
		line-height: 1.6;
		z-index: 4;
	}

	.hero__img {
		width: 300px;
		left: 0;
		bottom: -10%;
	}

	.hero__position-img {
		right: -5%;
		top: 5%;
	}

	.portfolio__container {
		padding: 5rem 2rem;
	}

	.portfolio__heading-text {
		text-align: center;
		font-size: 3rem;
	}

	.portfolio__span {
		color: #203ee8;
	}

	.grid__portfolio {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem 1rem;
		max-width: 500px;
		width: 100%;
		margin: 6rem auto 0;
	}

	.portfolio h5 {
		margin: 1rem 0 0.5rem;
	}

	.portfolio__type {
		color: rgba(0, 0, 0, 0.14);
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 2.04px;
		margin-bottom: 1rem;
	}

	.portfolio__content {
		width: unset;
		font-size: 1.5rem;
		font-weight: 300;
		margin-bottom: 0.5rem;
	}

	.portfolio__logo {
		width: 100px;
		height: 50px;
	}

	.portfolio a {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 577px) and (max-width: 767px) {
	.hero-container {
		background: #f6efe3;
		height: 60vh;
		display: flex;
		position: relative;
		padding: 5rem;
	}

	.hero__heading {
		width: 500px;
		height: 200px;
		font-size: 3.5rem;
		margin-top: 4rem;
		background-image: none;
		z-index: 3;
	}

	.hero__img {
		width: 200px;
		height: 150px;
		position: absolute;
		left: 0;
		bottom: -15%;
	}

	.portfolio h5 {
		margin: 1rem 0 0.5rem;
		font-size: 1.5rem;
	}

	.portfolio__type {
		color: rgba(0, 0, 0, 0.14);
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 2.04px;
		margin-bottom: 1rem;
	}

	.portfolio__content {
		font-size: 1.5rem;
	}

	.portfolio__logo {
		width: 120px;
		height: 80px;
	}

	.portfolio a {
		font-size: 1.5rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.hero-container {
		background: #f6efe3;
		height: 60vh;
		display: flex;
		position: relative;
		padding: 5rem;
	}

	.hero__heading {
		width: 600px;
		height: 200px;
		font-size: 4rem;
		margin-top: 4rem;
		background-image: none;
		z-index: 3;
	}

	.hero__img {
		width: 300px;
		height: 200px;
		position: absolute;
		left: 0;
		bottom: -15%;
	}

	.hero__position-img {
		width: 150px;
		height: 150px;
		position: absolute;
		right: 0;
		bottom: 25%;
		z-index: 2;
	}
}
